/*CSS made by /u/LapaMauve and /u/maciej4411*/



#header {
    background: url(%%header-img%%);
    background-size:100%;
    background-repeat:no-repeat;
    height: 150px;
    border-bottom: 1px solid white;
}

#header-bottom-left { margin-left: 81px; position: absolute; bottom: 0; }

.redditname {
    font-weight: bold;
    margin-right: 1ex;
    font-variant: small-caps;
    font-size: 0em;
    vertical-align: bottom;
    width: 0px;
    height: 0px;
    overflow: hidden;
    
}

.side {
    top: 400px;
    float: right;
    background-color: white;
    margin: 0px 5px 0 5px;
    width: 300px;
}

.side {
    margin: 345px 20px 100px 10px;
    padding: 20px 6px 30px 6px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 2px;
    border: 1px solid white;
    width: 300px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.side:before {
    z-index: 1000;
    height: 300px;
    background-image: url(%%ad-logo%%);
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 150px;
    background-size: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 170px;
    width: 300px;
    z-index: 1;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    box-shadow: 0 2px 2px 0 rgba(255,255,255,.4),0 3px 1px -2px rgba(255,255,255,.5),0 1px 5px 0 rgba(255,255,255,.3);
}

.link .usertext-body .md {
    background-color: #fafafa;
    border: 1px solid grey;
    border-radius: 7px;
    color: #122135;
}

.tagline, .search-result-meta {
    color: grey;
    font-size: x-small;
}
.tagline, .search-result-meta {
    color: grey;
    font-size: x-small;

}.entry unvoted .live-timestamp .tagline, .search-result-meta {
    color: grey;
    font-size: x-small;
}

#header-bottom-right {
    position: absolute;
    top: 19px;
    right: 10px;
    width: auto;
    max-width: 400px;
    height: 24px;
    background-color: rgba(18,33,53,0.5);
    color: white;
    font-size: 11px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #FFFFFF;
    border-style: solid;
    padding: 10px 10px 0px 10px;
    box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.12);
}


#header-bottom-right a {
    text-decoration: none;
    color: white;

}

body {
    background: url(%%bg-c2%%);
}

#header .tabmenu li.selected a {
    background: white;
    border-bottom: 0;
    border-radius: 8px 8px 0px 0px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    color: #122135;
}

#header .tabmenu li a:hover {
    background-color: rgba(255,255,255,0.3);
    color: white;
    border-radius: 8px 8px 0px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

#header .tabmenu li a {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 8px 8px 0px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.entry {
    border: 8px solid #FFFFFF;
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(255,255,255,.14),0 3px 1px -2px rgba(255,255,255,.2),0 1px 5px 0  
    rgba(255,255,255,.12);
}

.thing.stickied.link a.title {
    font-weight: bold;
    color: #228822;
}

.commentarea .menuarea {
    border: none;
    margin: 0 310px 10px 10px;
    padding: 0;
    color: #cccccc;
}
.dropdown.lightdrop .selected {
    position: relative;
    background: none no-repeat scroll center right;
    padding-right: 21px;
    text-decoration: underline;
    color: #cccccc;
}
.commentarea .menuarea .toggle a {
    color: #cccccc;
    font-weight: bold;
    font-size: x-small;
}

.thumbnail.self {
    height: 50px;
    background-image: url(%%button%%);
    background-position: 0px -491px;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
}
.thumbnail {
    float: left;
    font-size: 0;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 2px;
    overflow: hidden;
    width: 70px;
}

.link .score {
    text-align: center;
    color: white;
}
.link .rank {
    float: left;
    margin-top: 15px;
    color: white;
    font-family: arial;
    font-size: medium;
    text-align: right;
}

#search input[type="text"] {
    border: 1px solid white;
    border-radius: 15px;
    font-size: 13px;
    font-family: verdana;
    color: #122135;
    width: 300px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 6px;
    padding-right: 25px;
    padding-left: 9px;
    vertical-align: middle;
}

.infobar {
    background-color: #dcf7d2;
    border-color: #c7f0b8;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    font-size: small;
    margin: 5px 305px 5px 0px;
    padding: 5px 10px;
}

.morelink:hover {
    border: 1px solid white;
    border-radius: 15px;
    background: #92da79;
    font-size: 150%;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 29px;
    height: 29px;
}

.morelink {
    border: 1px solid white;
    border-radius: 15px;
    background: white;
    color: white;
    font-size: 150%;
    letter-spacing: -1px;
    line-height: 29px;
    height: 29px;
}
.morelink:hover a {
    color: white;
}

.morelink a {
    color: #FFFFFF;
}
.morelink a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #122135;
}

.morelink .nub {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 31px;
    width: 0px;
    background: #ffffff none no-repeat scroll center left;
    background-position: -61px -547px;
    background-repeat: no-repeat;
}

.titlebox {
    font-size: larger;
    color: white;
}

.fancy-toggle-button .active {
    border: 1px solid #122135;
    padding: 1px 6px;
    background: #122135 none repeat-x scroll center left;
    color: white;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    border-radius:5px;
}
.sidecontentbox .title h1 {
    border: 1px solid white;
    border-radius: 30px;
    display: inline;
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
    font-size: 130%;
}
.title {
    padding: 20px;
    text-align: center;
}

h1 {
    margin:5px;
    padding: 13px;

}
.content h1 {
   color: white;

}
.sidecontentbox .content {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: larger;
    list-style: none;
    border-radius: 5px;
    background-color: rgba(18,33,53,0.5);
}

.sidecontentbox a.helplink {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: right;
    width: 300px;
    height: 30px;
    padding-bottom: 15px;
}

.helplink {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
.sidecontentbox a.reddit-comment-link {
    text-decoration: none;
    color: #122135;
    font-weight: bold;
}

.sidecontentbox a {
    text-decoration: none;
    color: #122135;
}
.sidecontentbox .more a {
    color: white;
}


a.author.may-blank {
    color: #6fc6f8;
    font-weight: bold;

}


a.author {
    float: bottom;
    padding-top: 5px;
    padding-bottom: 5px;

}


.account-activity-box {
    text-align: center;
}

.account-activity-box a {
    color: white;
}

.md {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    max-width: 60em;
    overflow-wrap: break-word;
}

.titlebox form.toggle, .leavemoderator {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: smaller;
    color: #122135;
    background: #ffffff none no-repeat scroll center left;
    border-radius: 40px;
}

.titlebox form.toggle {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: smaller;
    color: #122135;
    background: #ffffff none no-repeat scroll center left;
    border-radius: 40px;
}

.tagline a, .search-result-meta a {
    color: white;
    font-weight: bold;

}

.tagline, .search-result-meta {
    color: grey;
    font-size: x-small;
}

.titlebox .bottom {
    border-top: 1px solid white;
    padding-top: 2px;
    font-size: 80%;
    color: white;
}

.leavemoderator a {
    text-decoration: none;
    color: #122135;
    font-weight: bold;
}

.icon-menu a {
    background: none;
    color: white;
}
.footer {
    color: white;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #F0F0F0;
    display: flex;
    display: -webkit-flex;
    max-width: 600px;
}

.flat-vert.title {
    font-family: arial,verdana,helvetica,sans-serif;
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
}
.hover a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.bottommenu {
    color: white;
    font-size: smaller;
    clear: both;
}

.bottommenu a {
    color: yellow;
    text-decoration: underline;
}

.error {
    color: #ebf8b1;
    font-size: small;
}

h2 a{
    color: white;
    font-size: 13px;
}

.titlebox h1 a {
    color: white;
}

.titlebox h1 {
    font-family:helvetica,sans-serif;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 19px;
    width: 250px;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 0.5em;
}

.panestack-title .title {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
    color: white;
}
.gold-accent.comment-visits-box {
    color: #122135;
    margin: 0px 5px 15px;
    padding: 7px 10px 7px 7px;
    max-width: 550px;
}

.gold-accent {
    margin-top: 10px;
    padding: 0 10px 5px;
    background-color: #c2eeb1;
    border: solid 1px #9ed789;
    color: #122135;
    display: inline-block;
}
.linkinfo {
    padding: 5px;
    border: 1px solid #9ed789;
    background-color: #c2eeb1;
    font-family: arial,helvetica,sans-serif;
    font-size: larger;
    border-radius: 3px;
}

p.title{
    text-align:left;
    padding: 20px;
}

.reddit-infobar {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #dcf7d2;
    border-color: #b1e39f;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 5px;
    overflow: auto;
    padding: 10px;
    position: relative;
}

.wiki-page .wiki-page-content {
    margin: 15px;
    margin-right: 325px;
    color: white;
}

.new-comment .usertext-body {
    background-color: #fafafa;
    border: solid 1px grey;
    border-radius: 10px;
    margin: -1px 0;
    padding: 0 4px;
}
.md p{
    color:#122135;
}

.titlebox .md p {
    color: white;
}
#sr-header-area .sr-list {
    background-color: black;
}

#sr-header-area .dropdown.srdrop {
    background-color: black;
    height: 18px;
}

#sr-header-area .dropdown.srdrop .selected{
   color: white;
}

#sr-more-link {
    color: white;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 5px 0 15px;
    font-weight: bold;
    margin: 0;
}
#header-img.default-header {
    text-indent: -9999px;
    background-position: 0px -313px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
    width: 30px;
}

img#header-img {
 position: absolute;
 top: -24px;
 margin-left: -78px;
}

.titlebox .word { display: none; }
.subscribers .number:after { content: ' Slugs'; }
.users-online .number:after { content: ' Slugs are trapping now'; }
